@media (max-width: 1200px) {
  .section {
    &__contact {
      &__content {
        flex-direction: column;
        gap: 3rem;
      }

      &__images {
        max-width: 400px;
        margin: 0 auto;

        &__post {
          width: 100%;
          height: auto;
        }

        &__deliveryMan {
          width: 200px;
          height: auto;
        }
      }

      &__form {
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
    &__contact {
      padding: 1rem;

      &__container {
        padding: 1rem;
      }

      &__header {
        margin-bottom: 2rem;

        h2 {
          font-size: 2rem;
        }
      }

      &__content {
        flex-direction: column;
        gap: 2rem;
      }

      &__images {
        max-width: 300px;
        margin: 0 auto;

        &__post {
          width: 100%;
          height: auto;
        }

        &__deliveryMan {
          width: 150px;
          height: auto;
          top: 9%;
          left: -5%;
        }
      }

      &__form {
        margin: 0 auto;
        padding: 1.5rem;
      }
    }
  }
}

@media (max-width: 480px) {
  .section {
    &__contact {
      &__header {
        h2 {
          font-size: 1.8rem;
        }
      }

      &__images {
        max-width: 250px;

        &__deliveryMan {
          width: 100px;
          height: auto;
          top: 25%;
          left: 2%;
        }
      }

      &__form {
        padding: 1rem;

        h2 {
          font-size: 1.2rem;
          text-align: center;
        }

        input,
        textarea {
          padding: 0.8rem;
        }

        &-row {
          flex-direction: column;
        }
      }
    }
  }
}
